*{ margin: 0px; padding: 0px;}
li{ 
    list-style: none;
}
a{
    text-decoration: none;color: #FFF;font-size: 18px;
}
.clear{ 
    clear: both;
}
.header{
    background-image: url(../img/head.gif);
    margin: 0px auto;
    height: 150px;
    backgroun-position: center;
    background-size: cover;
}
.header img{
    margin-left: 25px;
}
.header h1{
	color:#EE0000;
	font-size: 30px;
	text-transform: uppercase;
	text-align: left;
    margin-top: 15px;
    margin-left: 5px;
}
.header p{
	color: #EE0000;
	font-size: 18px;
	text-transform: uppercase;
	text-align: left;
    margin-top: 8px;
    margin-left: 30px;
}

.wrapper{
    width: 1024px; background: background-color: #dceaf5; margin: 0px auto;
}
.main_menu{
    background: #00A69B;
/*	font-size: px;*/
}
.main_menu>ul>li{ 
    float: left;padding-left: 40px; padding-top: 10px; padding-bottom: 10px; padding-right: 40px;  position: relative; border-right: 1px dotted #ACACAC;
	font-size: 20px;
	
}
.main_menu>ul>li:last-child{ 
    border-right: none;
}
.main_menu>ul>li>ul{ 
    display: none; position: absolute; background: #00A69B;
	top: 41px;width: 250px; left: 0px;
}
.main_menu>ul>li:hover ul{ 
    display: block;
}
.main_menu ul li:hover{ 
    background: #5F5C5C; transition: all 0.25s;
}
.main_menu>ul>li>ul>li{ 
    padding: 5px 10px;
}
.main_menu>ul>li>ul>li{ 
    border-bottom: 1px dotted #ACACAC;
}
/*
.search_form input[type=search]
{
    border: 1px solid #6666FF;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
/*    width:150px;*/
	height:30px;
	color:white;
    background: #00A69B;
/*    min-height: 27px;*/
/*    padding: 4px 20px 4px 8px;*/
    font-size: 16px;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
/*    margin-top: 65px;*/
/*    margin-left: 855px;*/
/*	margin-right: 0px;*/
}
*/
#content {
	text-align: center;
	margin: 0 auto;
}

#top-title {
/*	padding-top: 10px;*/
	color: red;
	font-size: 40px;
	text-shadow: 2px 2px aliceblue;
	font-weight: bold;
/*	color: aliceblue*/
}

#bottom-title {
/*	padding-top: 10px;*/
	color: red;
	font-size: 30px;
	text-shadow: 2px 2px aliceblue;
	font-weight: bold;
	text-align: center;
}


.search_form {
/*	padding-top:4px;*/
/*	float: right;*/
/*	margin-right: 0px;*/
/*	padding-right: 0px;*/
/*	margin-right: 0px;*/
/*	display: table-cell;*/
	top: 110px;
/*	float: right;*/
/*	right: 200px;*/
	left: 950px;
	position: fixed;
	
	
}

#nav-bar {
	
}

#left-nav {
	display: table-cell;
	padding: 5px 10px;
}

#search_box {
	
}

#right-nav {
/*	display: table-cell;*/
/*	float: right;*/
}

#top_title {
	color: red;
	font-size: 40px;
	text-shadow: 2px 2px aliceblue;
	font-weight: bold;
	text-align:center;
/*	padding-top: 20px;*/
}
ul:first-child {

}
#search select {
	border-radius: 5px;
	background-color: white;
	height: 30px;	
	border-color: none;
	color: black;
/*	padding: 10px;*/
	padding-left: 10px;
	padding-right: 10px; 
/*	text-align: center;*/
	border: none;
	font-size: 13px;
}
#search select:focus{
	background-color: azure;
}
#search select:active{
	background-color: azure;
}
#search select option {
	border-radius: 5px;
	background-color: rgb(252, 252, 252);
	height: 30px;	
	border-color: none;
	color: blueviolet;
/*	padding: 10px;*/
	text-align: center;
	border: none;
	font-size: 16px;
}
#search option:hover{
	background: #0a6114;
}


.search-select {
	display: table-cell;
}

.search-text {
	display: table-cell;
}

.btn-search {
	height: 30px;
	background-color: rgb(252, 252, 252);
	height: 30px;	
	border-color: none;
	color: red;
/*	padding: 10px;*/
	padding-left: 10px;
	padding-right: 10px; 
	text-align: center;
	border: none;
	font-size: 13px;
	border-radius: 5px;
}

.search-button {
	display: table-cell;
}
.btn-search:hover {
	cursor: pointer;
}
.search{
	height: 30px;
	background-color: white;
/*	padding: 10px 10px 5px 5px;*/
	padding-left: 10px;
	padding-right: 10px; 
	font-size: 13px;
	color: black;
	border-radius: 5px;
	border:none;
	
}
#main-content {
	margin: 0 auto;
	width: 1024px;
}
#title-content {
	text-align: center;
    font-size: 25px;
    color: firebrick;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
#title-content {
	text-align: center;
    font-size: 25px;
    color: firebrick;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
