
#view-table-bo-phan{
	margin: 0 auto;
	width: 900px;
}
#view-table-bo-phan table {
	border-spacing: 0px;
}
#view-table-bo-phan table tr td{
	border-style: dotted;
	border-width : 1px;
	margin: 0px;
	border-spacing: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#view-table-bo-phan table tr th{
    border-style: dotted;
    border-width : 1px;
    margin: 0px;
    border-spacing: 0px
	padding-left: 10px;
/*	padding-right: 10px;*/
	padding-top: 5px;
	padding-bottom: 5px;
    background-color: #199e5e;
/*	text-align: center;*/
/*	padding-left: 10px;*/
}

.left-column {
	width: 40px;
	text-align: center;
}
.mid-column {
	width: 100px;
	text-align: center;
}
.right-column{
    width: 100px;
	text-align: right;
}
.column-3{
	width: 250px;
}
.column-4{
	width: 100px;
}
.column-5{
	width: 250px;
    text-align: left;
}
.group-button-bo-phan {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn-bo-phan {
	background: #199e5e;
	border-radius: 5px;
	color: #ffffff;
	font-size: 13px;
	padding: 8px 30px 8px 20px;
	margin-right: 12px;
	border:none;
}

#add-form {
	display: none;
	width: 400px;
	position: absolute;
	left: 483px;
	margin: 0 auto;
	top: 140px;
	background-color: rgb(255, 224, 255);
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px
}
#update-form {
	display: none;
	width: 400px;
	position: absolute;
	left: 483px;
	///margin: 0 auto;
	top: 140px;
	background-color: rgb(255, 224, 255);
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px	
}

#title-content {
	text-align: center;
    font-size: 25px;
    color: firebrick;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

#title {
	
}
