#main-content {
	width: 400px;
	margin: 0 auto;
}
#title-content {
	text-align: center;
    font-size: 25px;
    color: firebrick;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}