
#title-content {
	text-align: center;
	font-size: 25px;
	color: firebrick;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}
#add-form{
	width: 450px;
	height:200px;
	background-color: #DCEAF5;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	margin: 0 auto;
	margin-top:50px;
	
}
#wrapper {
	margin: 0 auto;
}

#main-content {
	margin: 0 auto;
	width: 100%;
}

#view-table table tr th {
	background-color: #199e5e;
}

.form-title {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #199e5e;
	margin-bottom: 20px;
}


#main-content {
	height: 700px;
	
}