
#wrapper {
	margin: 0 auto;
	width: 810px;
    background-color: #DCEAF5;
    height: 330px;
}
#title {
    text-align: center;
    font-size: 25px;
    color: firebrick;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
#content {
	margin: 0 auto;
	width: 100%;
}
#view-table{
	margin: 0 auto;
	width: 700px;
}
#view-table table {
	border-spacing: 0px;
}
#view-table table tr td{
	border-style: dotted;
	border-width : 1px;
	margin: 0px;
	border-spacing: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#view-table table tr th{
    border-style: dotted;
    border-width : 1px;
    margin: 0px;
    border-spacing: 0px
	border-spacing: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
    background-color: #199e5e;
}
.input-table table tr td {
	padding-right: 0px;
}
.input-table table tr th {
	padding-right: 0px;
}
#input-table table {
	margin: 0 auto;
}
.one-column {
	width: 200px;
	text-align: left;
}
.two-column {
	width: 200px;
	text-align: left;
}
.three-column {
	width: 100px;
    text-align: left;
}
.four-column {
	width: 100px;
   text-align: left;
}
.five-column {
	width: 200px;
    text-align: left;
}
.six-column {
	width: 100px;
   text-align: left;
}
.a-column {
    width: 90px;
	text-align: left;
}
.b-column {
	padding-right: 90px;
}
.c-column {
    width: 75px;
	text-align: left;
   
}
.e-column {
     width: 120px;
	text-align: left;
   
}
.f-column {
	width: 100px;
}
.checkbox{
    text-align: center;
}
.btn {
	background: #199e5e;
	border-radius: 5px;
	color: #ffffff;
	font-size: 13px;
	padding: 8px 30px 8px 20px;
	margin-right: 0px;
	border:none;
}
.group-button {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn:hover {
  background: #0a6114;
}
.font {
    color:#198724;
}
#hide{
	visibility: hidden
}


