.text {
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	opacity: 0.9;
	border-color: dimgray;
	font-size: 16px;
}

#title-content {
	padding-top: 20px;
	margin-top: 30px;
}

#wrapper {
	margin: 0 auto;
	width: 1024px;
	background-color: #DCEAF5;
	height: 330px;
}

#title {
	text-align: center;
	font-size: 25px;
	color: firebrick;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}

.lables {
	margin-right: 10px;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.input {
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#content {
	margin: 0 auto;
	width: 100%;
}

#view-table {
	margin: 0 auto;
	width: 500px;
}

.group-button {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#view-table-bao-cao table {
	border-spacing: 0px;
	margin: 0 auto;
}

#view-table-bao-cao table tr td {
	border: 1px solid black;
	border-width: 1px;
	margin: 0px;
	border-spacing: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

#view-table-bao-cao table tr th {
	border: 1px solid black;
	border-width: 1px;
	margin: 0px;
	border-spacing: 0px
	padding-left: 10px;
	padding-right: 10px;
	
	
}

#input-table table tr td {
	padding-left: 0px;
}

#input-table table tr th {
	padding-left: 0px;
}

#input-table {
	margin: 0 auto;
}

.one-column {
	width: 100px;
	text-align: center;
}

.two-column {
	width: 250px;
	text-align: left;
}

.three-column {
	width: 150px;
	text-align: center;
}

.four-column {
	width: 100px;
	text-align: center;
}

.five-column {
	width: 100px;
	text-align: center;
}

.six-column {
	width: 200px;
	text-align: center;
}

.seven-column {
	width: 100px;
	text-align: center;
}

.a-column {
	text-align: center;
}

.btn {
	background: #199e5e;
	border-radius: 5px;
	color: #ffffff;
	font-size: 13px;
	padding: 8px 30px 8px 20px;
	margin-right: 0px;
	border: none;
}

.btn:hover {
	background: #0a6114;
}

.font {
	color: #198724;
}

#hide {
	visibility: hidden
}

.form-title {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #199e5e;
	margin-bottom: 20px;
	padding: 10px;
}

.lable {
	text-align: left;
}

.checkbox {
	text-align: right;
}

.scroll {
	max-height: 420px;
	/*height: 300px;*/
	width: 900px;
	display: auto;
	margin: 1em 0;
	overflow: scroll;
}

#main-content {
	height: 610px;
	background-color: while;
}

#radio {
	text-align: center;
	margin-left: 250px;
}